body {
  margin: 0px auto;
  font-family: 'Lato';
  background:#666;
  color:#fff;
}

*{
  margin:0;
  padding:0;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

p {
  font-family: 'Reenie Beanie';
  font-size: 2rem;
}

.note-ul, .note-li{
  list-style:none;
}

.note-ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note-ul .note-li .note-a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-6deg);
  transition: transform .15s linear;
}
    .note-ul .note-li:nth-child(even) .note-a{
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
    }

    .note-ul .note-li:nth-child(3n) .note-a{
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
    }

    .note-ul .note-li:nth-child(5n) .note-a{
    transform:rotate(5deg);
    position:relative;
    top:-10px;
    }

    .note-ul .note-li .note-a:hover,.note-ul .note-li .note-a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
    }

.note-ul .note-li{
  margin:1em;
}

.update-button {
  background-color: #007bff;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 30px;
    background-color: teal;
    color: #fff;
}

.nav-a{
    text-decoration: none;
    font-family: cursive;
}

.nav-li{
    list-style: none;
}

.nav-links .nav-a {
    color: #fff;
}

/* LOGO */

.logo {
    font-size: 32px;
}

/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu .nav-li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu .nav-li {
    padding: 5px 14px;
}

.note {
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:35em;
    width:35em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    background:#cfc
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.update-button, .delete-button, .cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  text-decoration: none;
}

.update-button {
  background-color: #007bff;
}

.delete-button {
  background-color: #dc3545;
}

.cancel-button {
  background-color: #ff7f7f;
}


.note-form {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#note_title, #note_content {
  background-color: transparent; /* set the background color of the form elements to transparent */
  border: none; /* remove the border around the form elements */
  margin: 1% 1% 1% 1%
}

#note_title{
  font-family: 'Lato';
  width: 98%;
  font-size: 2.5rem;
}

#note_content{
  width: 98%;
  height: 87%;
  font-size: 1.5rem;
  resize: none;
  font-family: 'Reenie Beanie'; /* set the font family */
}

::placeholder {
  color: #bfbfbf;
}

.corkwood-bg {
  background-image: url('../images/cboard.jpg');
  background-repeat: repeat;
}