{% extends 'note-base.html' %}

{% block header %}

{% endblock %}

{% block body %}
    <form method="POST">
        <div class="note">
            <input type="text" id="note_title" name="note_title" value="{{ note_title }}" placeholder="Input your title here..">
            <br>
            <textarea id="note_content" name="note_content" rows="4" cols="50" placeholder="Input your note content here..">{{ note_content }}</textarea>
        </div>

        <div class="button-container">
            <button type="submit" class="update-button">Submit</button>
            <a class="cancel-button" href="{{ url_for('home') }}"
             onclick="return confirm('Are you sure you want to cancel editing the note?')">Cancel</a>
        </div>
    </form>
{% endblock %}