{% extends 'base.html' %}

{% block header %}
    <title>Sticky Note Hub</title>
{% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}
        {% if tasks|length < 1  %}
            <h4>There are no notes. Create one!</h4>
        {% else %}
        <ul class="note-ul">
          {% for task in tasks %}
          <li class="note-li">
            <a class="note-a" href="note/{{ task.id }}">
              <h2>{{ task.title }}</h2>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
    {% else %}

    {% endif %}
{% endblock %}