{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block body %}
    <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Login</h4>
            <form method="POST">
              {{ form.hidden_tag() }}
              <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", required="required") }}
              </div>
              <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", required="required") }}
              </div>
              <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
   </div>
{% endblock %}