{% extends 'base.html' %}

{% block header %}
    <title>{{ note_title }}</title>
{% endblock %}

{% block body %}
    <form class="note-form" method="POST">
        <div class="note">
            <input type="text" id="note_title" name="note_title" value="{{ note_title }}" placeholder="Input your title here..">
            <br>
            <textarea id="note_content" name="note_content" rows="4" cols="50" placeholder="Input your note content here..">{{ note_content }}</textarea>
        </div>
        <div class="button-container">
          <button type="submit" class="update-button">Update</button>
          <a class="delete-button" href="{{ url_for('delete', id=note_id) }}"
             onclick="return confirm('Are you sure you want to delete this note?')">Delete</a>
          <a class="cancel-button" href="{{ url_for('home') }}"
             onclick="return confirm('Are you sure you want to cancel editing the note?')">Cancel</a>
        </div>
    </form>
{% endblock %}